*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
}



button{
    cursor: pointer;
    color: white;
    background-color: #114cf0;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;

}