*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  



@media screen and (min-width:300px) and (max-width:768px) {

    
#checkout-page{
        
    padding: 20px;
 

    
}

  #cart-info{
    display:inline-flex;
    gap:5px;
  }
    #empty-cart-options{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #empty-cart-options button{
        background-color: #114cf0;
        color: white;
        border: none;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
    }

    #page-header{
        text-align: center;
    }


    #checkout-buttons{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-left: auto;
        
    }

    #cart-amount{
        text-align:left;
        margin-top: 10px;
        font-weight: bold;
        margin: 20px;
    }

    #empty-cart-msg{
        margin-top: 50px;
        text-align: center;
    }

    #confirm-order{
        background-color: #114cf0;
        margin-right:50px ;
    }

    #add-more{
        background-color: darkgreen;
        margin-right: 50px;
    }

   
}


@media screen and (min-width:768px) and (max-width:1400px) {




    #checkout-page{
        
        padding: 20px;
        
    }

    #empty-cart-options{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #empty-cart-options button{
        background-color: #114cf0;
        color: white;
        border: none;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
    }

    #page-header{
        text-align: center;
    }


    #checkout-buttons{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        
    }

    #cart-amount{
        text-align:left;
        margin-top: 10px;
        font-weight: bold;
        margin: 20px;
    }

    #empty-cart-msg{
        margin-top: 50px;
        text-align: center;
    }

    #add-more{
        
        background-color: darkgreen;
        margin-right: 50px;
        
    }



    #confirm-order{
        background-color: #114cf0;
        
    }




}