#startup-page{
    background-color:#FADBD8 ;
    height: 100vh;
    width: 110%;
}


#dropdown-menu{
    position: relative;
}

#dropdown-menu>img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}

#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    
}

#dropdown-content{
    position: absolute;
    display: none;
    background-color: rgb(248, 246, 243);
    padding: 10px;
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    
   
}

#site-title{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

#dropdown-menu:hover #dropdown-content{
    position: relative;
    display: inline-block;
    right: 50px;
    top: 60px;
    cursor: pointer;

   
}

#dropdown-menu:hover #dropdown-content>a{
    color: black; 
    text-decoration: none;
  
}


nav{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


#greeting-msg>a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}