
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

}

.Modal{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding-left: 30px;
}


#ModalSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Modal h1{
    text-align: center;
    margin-top: 10px;
   
}


/*styles for AddCartmodal */
#AddItemModal #purchase-details{
    display: flex;
    flex-direction: column;
    padding-left:10px ;
}

#AddItemModal #purchase-details>div{
    margin-top: 20px;
}

#AddItemModal #total{
    font-weight: bold;
    font-size: 20px;
}

#AddItemModal #modal-btns{
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

#AddItemModal #close-modal{
    background-color: rgb(252, 9, 9);
}

#AddItemModal #add-to-cart{
    background-color: #114cf0;
}

.decrementqty{
    cursor: pointer;
    background-color: red;
    color: white;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    border: none;
}
.incrementqty{
    cursor: pointer;
    background-color:#1B9034;
    color: white;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    border: none;

}



.Itemcounter{
    display: inline-flex;
    align-items: center;
    gap: 20px;
}