

/*mobiles*/
@media screen and (min-width:300px) and (max-width:700px)  {
 
  #shopping-cart-icon{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    
    a{
        cursor: pointer;
    }
    

    #cart-info{
        display: inline-flex;
        gap:5px;
      
    }
   
    #cart-info-desktop{
        display: none
        
      
    }

    #cart-info-mobile{
        display: inline-flex;
        gap:5px;
      
    }
    #cart-counter{
        border-radius: 50%;
        border-width:2px ;
        height: 20px;
        width: 20px; 
        text-align: center;
        background-color:red;
        color:white;
      
        
    }

    #logout-link-desktop{
        display: none;
    }

    #login-link-desktop{
        display: none;
    }

    #username{
        color: antiquewhite;
        font-weight: bolder;
        font-size: 15px;
        margin-right: 30px;
    }
    
    
    #app-navbar{
        display: flex;
        justify-content: row;
        align-items: center;
        height:100px;
        width:100vw;
        background-color: #0752AD;
        padding: 50px;
    
    }
    
    .app-navlink{
        text-decoration: none;
        margin-left:50px;
        cursor: pointer;
    }
    .app-navlink>h1{
        color:whitesmoke;
        font-weight: bold;
        margin-left: 20px;
    }

    
    .app-navlink p{
        color:black;
        font-weight: bold;
    }

    .logout-login-btn p{
        color:whitesmoke;
    }

    #navbar-logo{
     
      color:whitesmoke;
      font-weight: bold;
      font-size: 25px;
      margin-right:auto;
      
    }


    
}

@media screen and (min-width:701px) and (max-width:1400px) {


 
    #shopping-cart-icon{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    
    a{
        cursor: pointer;
    }
    
    #navbar-logo{
       
        margin-left: auto;
        color:whitesmoke;
        font-weight: bold;
        font-size: 25px;
        margin-right: 100px;
        
      }
   
    
    #cart-counter{
        border-radius: 50%;
        border-width:2px ;
        height: 20px;
        width: 20px; 
        text-align: center;
        background-color:red;
        color:white;
        
    }

    #username{
        color: antiquewhite;
        font-weight: bolder;
        font-size: 15px;
        margin-left: 30px;
    }
    
    
    #app-navbar{
        display: flex;
        justify-content: row;
        align-items: center;
        width: 100vw;
        height:100px;
        background-color: #0752AD;
    
    }

    
    
    .app-navlink{
        text-decoration: none;
        margin-left:50px;
        cursor: pointer;
    }
    .app-navlink>h1{
        color:whitesmoke;
        font-weight: bold;
        margin-left: 20px;
    }

    #cart-info-desktop{
        display: inline-flex;
        gap:10px;
    
    }

    #cart-info-desktop >p{
        color:white;
        font-weight: bolder;
        font-size: 20px;
        
    }

  


    .app-navlink p{
        color:black;
        font-weight: bold;
    }

    .logout-login-btn p{
        color:whitesmoke;
    }

    #logout-link-mobile{
        display: none;
    }

    #login-link-mobile{
        display: none;
    }

    #cart-link-mobile{
        display: none;
    }


}