
@media screen and (min-width:300px) and (max-width:768px) {
 
  #shopping-cart-icon{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    
    a{
        cursor: pointer;
    }
    
    #shopping-cart-link{
        margin-left:30px;
        align-self: flex-end;
    }
    
    #cart-counter{
        border-radius: 50%;
        border-width:2px ;
        height: 20px;
        width: 20px; 
        text-align: center;
        background-color:red;
        color:white;
        
    }

    #username{
        color: antiquewhite;
        font-weight: bolder;
        font-size: 15px;
    }
    
    
    #app-navbar{
        display: flex;
        justify-content: row;
        align-items: center;
        width: 110%;
        height:100px;
        background-color: #0752AD;
    
    }
    
    .app-navlink{
        text-decoration: none;
        margin-left:50px;
        cursor: pointer;
    }
    .app-navlink>h1{
        color:whitesmoke;
        font-weight: bold;
        margin-left: 20px;
    }

    
    .app-navlink p{
        color:black;
        font-weight: bold;
    }

    .logout-login-btn p{
        color:whitesmoke;
    }


    
}

