
@media screen and (min-width:300px) and (max-width:700px){
    


    #products-page>h1{
        text-align: center;
        margin-top: 10px;
    }


    #products-page{
        padding-left:20px;
        background-color: #f1f190;
        width: 100vw;
        min-height:100vh;
        display: flex;
        flex-direction: column;
    }

    #products-page>nav{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    #products-page>nav>a{
        text-decoration: none;
        color: black;
        cursor: pointer;
        font-weight: 800;
    }


    #red-wine{
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 50%;
        align-self: center;
    }



    #celebration{
        margin-top: 10px;
        margin-bottom: 20px;
        width: 80%;
        height: 200px;
        align-self: center;
        border-radius: 5px;
    }



}

@media screen and (min-width:701px) and (max-width:1440px){

    #products-page>h1{
        text-align: center;
        margin-top: 10px;
    }


    #products-page{
        padding-left:20px;
        background-color: #f1f190;
        min-height:100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    #products-page>nav{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    #products-page>nav>a{
        text-decoration: none;
        color: black;
        cursor: pointer;
        font-weight: 800;
    }


    #red-wine{
        width: 200px;
        height: 200px;
        margin-top: -40px;
        margin-bottom: 20px;
        border-radius: 50%;
        align-self: center;
    }


    #celebration{

        margin-top: 5px;
        margin-bottom: 20px;
        width: 80%;
        align-self: center;
        border-radius: 5px;
    }



}

